.resume
    .resume__content 
        //- figure.resume__thumb
        //-     img(src="https://i.scdn.co/image/49b68eb091329f4a8f92add3c7e0c90e7d7b08e4", alt="")
        .resume__info
            h1.resume__title All Time Low 
            p.resume__genre
            //- p.resume__desc Formed in 2003 in the suburbs of Baltimore, Maryland, All Time Low started out as a high school cover band before morphing into a melodic pop-punk act influenced by predecessors like New Found Glory and Blink-182... 
            .resume__buttons
                button.btn.btn-danger PLAY ALL
                button.btn.btn-danger MIX 
                    i.fa.fa-sync          
                button.btn.btn-sm.btn-info 
                    i.far.fa-bookmark
                .resume__share
                    i.fa.fa-share-alt.text-danger  
                    span  SHARE (124)
        
