extends ../base.pug

block title
  title Music Stream

block header

block body
  main.main-view
    .login-content
        .container 
            h1.mb-4 Connect with spotify
            button(type="button").btn.btn-danger.btn-sm#login Login 

block footer