-var header = ['recommended', 'new releases', 'top charts', 'moods', 'around you'];
-var navMenu2 = ['fa fa-music','fa fa-podcast'];
-var navMenu = [{"name": "Music","class": "fa fa-music"},{"name": "Podcast","class": "fa fa-podcast"}, {"name": "Fav","class": "fa fa-heart"}, {"name": "Mixins","class": "fa fa-compact-disc"}];
