-var header = ['recommended', 'new releases', 'top charts', 'moods', 'around you'];
-var navMenu2 = ['fa fa-music','fa fa-podcast'];
-var navMenu = [{"name": "Top","class": "fa fa-music", "href": "/josefigueroa.github.io/dist/templates/top.html"},{"name": "Podcast","class": "fa fa-podcast"}, {"name": "Fav","class": "fa fa-heart"}, {"name": "Mixins","class": "fa fa-compact-disc"}];
