nav.nav-menu
  ul.nav-menu__list
    li.nav-menu__item.d-none.d-lg-block
      .nav-menu__logo
        i.fab.fa-spotify
    each navmenuItems, key in navMenu
      li.nav-menu__item(title=navmenuItems.name class=(navmenuItems.name == 'Top') ? 'active' : '')
        a(href=navmenuItems.href).nav-menu__link(class=navmenuItems.class)